<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント登録</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <form method="post" action="{{ url_for('check') }}">
            <h2>アカウント登録</h2>
            {% if error %}
                <div class="error">{{ error | safe }}</div>
            {% endif %}
            <table>
                <tbody>
                    <tr>
                        <th><label>ユーザーID</label></th>
                        <td><input type="text" autocomplete="off" name="userName"></td>
                    </tr>
                    <tr>
                        <th><label>パスワード</label></th>
                        <td><input type="password" name="password1"></td>
                    </tr>
                    <tr>
                        <th><label>パスワード(確認用)</label></th>
                        <td><input type="password" autocomplete="off" name="password2"></td>
                    </tr>
                    <tr>
                        <th><label>メールアドレス</label></th>
                        <td><input type="text" autocomplete="off" name="mail"></td>
                    </tr>
                </tbody>
            </table>
            <div class="button-container">
                <input type="submit" value="確認" class="checkBtn">
            </div>
        </form>
        <form action="{{ url_for('index_back') }}" class="a">
            <input type="submit" value="戻る" class="backBtn">
        </form>
    </div>
    <script src="../static/js/script.js"></script>
</body>

</html>
